.btn {
    float: right;
    background: linear-gradient(70deg, rgba(173, 0, 255, 1), rgba(36, 0, 255, 1));
    border-radius: 10px;
    height: 40px;
    width: 120px;
    position: relative;
    color: white;
    font-family: 'Raleway', sans-serif;
    border: none;
}

.font {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}

.font-mieux {
    color: rgba(164, 87, 249, 1);
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
}

#agir {
    position: absolute;
    animation-name: example;
    animation-duration: 5s;
    padding-top: 200px;
    /* animation-delay: 2s; */
    left: 180px;
    top: 0px;
}

/* .col-4{-webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333%} */
.sectionLeft{
    margin-top: -60px;

}
.sectionRight{
    margin-top: -5px;
}
.sectionCenter{
    margin-top: -40px;
}
#mieux {
    margin-top: 150px;
    position: absolute;
    animation-name: example2;
    animation-duration: 5s;
    padding-top: 150px;
    left: 300px;
    /* animation-delay: 2s; */
}

.description{
    width:450px ;
    word-wrap: break-word;
    font-size: large;
    padding-left: 40px;
    /* float:right; */
    margin-left: 30%;
    margin-top: 44px;
    animation: descriptionAnim 1s linear;
}
@keyframes descriptionAnim{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 0%;
    }
}
.solide-ronde {
    margin-left: 620px;
    margin-top: 30px;
    position: absolute;
    animation-name: ronde;
    animation-duration: 5s;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(173, 0, 255, 1), rgba(36, 0, 255, 1));
}
.solide-ronde2 {
    margin-left: 235px;
    margin-top: 38px;
    /* position: absolute; */
    animation-name: ronde2;
    animation-duration: 1s;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(173, 0, 255, 1), rgba(36, 0, 255, 1));
    /* opacity: 100; */
    float:left;
}
.page2{
    margin-top: 20%;
    /* position: absolute; */
    /* /* left: 0; */
    bottom:-100px;
    animation: MoveUpDown 5s  ;
}

@keyframes MoveUpDown {
    0% {                               
        /* bottom:10%; */
        margin-top:50%;
        opacity: 0%;
    }
    15% {                               
        /* bottom:10%; */
        margin-top:30%;
        opacity: 0%;
    }
    30% {
        opacity: 100%;
        margin-top:20%;
    }
    /* 40% {
        bottom:-127px;

    } */

  }
/* .solide-ronde {
    margin-left: 620px;
    margin-top: 30px;
    position: absolute;
    animation-name: ronde2;
    animation-duration: 5s;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(173, 0, 255, 1), rgba(36, 0, 255, 1));
    animation-delay: 6s;
} */

.image-africa{
    position: absolute;
    animation-name: imageAfrica;
    animation-duration: 5s;
    padding-right: 50px;
    bottom: -795px;
}
#ka {
    margin-left: 50px;
}

body, html {
    /* height: 100%;
    width: 100%; */

    margin: 0;
    padding: 0;
    background: radial-gradient(rgba(255, 255, 255, 1), rgba(157, 157, 157, 1));
    background-repeat: no-repeat;
    /* background-position: center;
    background-size: cover; */
    font-family: 'Raleway', sans-serif !important;

  }
.bg{
    height: 830px;
    /* height: 100%; */
    /* width: 1080px; */

}


.ml-0,
.mx-0 {
  margin-right: 0 !important;
}

.rotate{
    float: right !important;
    margin-top: 100px;
    margin-left: 90%;
    transform: rotate(90deg);
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .mx-auto{
      margin-right:50% !important
    }

  .pagination{
      text-align: center;
    bottom: 0%;
    margin-left:50%;
    position: absolute;
    color:white;
    border-radius: 10px ;
    background-color:black;
    opacity: 70%;
    cursor: pointer;
    width: 80px;
    height: 25px;
    padding-top: 5px;;
    
  }

  .col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
  }

.marge{
    margin-left: 50px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.btn1{
    height: 80px;
    width: 220px;
    background: linear-gradient(90deg, rgba(173, 0, 255, 1), rgba(36, 0, 255, 1));
    color: white;
    font-family: 'Raleway', sans-serif;
    border: none;
    font-weight: bold;
    font-size: large;
    margin-top: 60px;
    margin-left: 20px;
    position: absolute;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
.image-rectangle{
    position: relative;
    float: right;
    width: 110px;
}
.mr-auto{
    margin-left: 100% !important;

}
.d-none{
    display: none;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.header{
    margin-top: 30px !important;
}
.flesh-2{
    position: absolute;
    margin-top: 600px;
    margin-left: 600px;
}
.menu{
    position: absolute;
    bottom: 505px;
}
@keyframes imageAfrica {
    0% {                               
        opacity: 0%;
    }
    20% {
        bottom: -200px; 
        opacity: 0%;
    }
    40% {
        bottom: -795px;
        opacity: 100%;
    }
}
@keyframes ronde {
    0% {
        width: 100px;
        height: 100px;
    }
    25% {
        border-radius: 100%;
        width: 400px;
        height: 400px;
    }
    30% {
        border-radius: 100%;
        width: 300px;
        height: 300px;
    }
}

@keyframes ronde2 {
    0% {
        margin-left: 620px;
        width: 300px;
        height: 300px;
        opacity: 100%;
    }

    50% {
        border-radius: 100%;
        /* margin-left: 140px; */
        /* width: 150px;
        height: 150px; */
        /* opacity: 0%; */
    }
}

@keyframes example2 {
    0% {
        opacity: 0%;
        left: 400px;
        top: 0px;
    }
    25% {
        opacity: 100%;
        left: 100px;
        top: 0px;
    }
    30% {
        left: 300px;
        top: 0px;
    }
}

@keyframes example {
    0% {
        opacity: 0%;
        left: -300px;
        top: 0px;
    }

    25% {
        opacity: 100%;
        left: 300px;
        top: 0px;
    }
    30% {
        left: 180px;
        top: 0px;
    }
}
@media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
@media (min-width: 700px) {
.col-md {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 100%;
}
.col-md-auto {
-webkit-box-flex: 0;
-ms-flex: 0 0 auto;
flex: 0 0 auto;
width: auto;
max-width: none;
}
.col-md-1 {
-webkit-box-flex: 0;
-ms-flex: 0 0 8.333333%;
flex: 0 0 8.333333%;
max-width: 8.333333%;
}
.col-md-2 {
-webkit-box-flex: 0;
-ms-flex: 0 0 16.666667%;
flex: 0 0 16.666667%;
max-width: 16.666667%;
}
.col-md-3 {
-webkit-box-flex: 0;
-ms-flex: 0 0 25%;
flex: 0 0 25%;
max-width: 25%;
}
.col-md-4 {
-webkit-box-flex: 0;
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
}
.col-md-5 {
-webkit-box-flex: 0;
-ms-flex: 0 0 41.666667%;
flex: 0 0 41.666667%;
max-width: 41.666667%;
}
.col-md-6 {
-webkit-box-flex: 0;
-ms-flex: 0 0 50%;
flex: 0 0 50%;
max-width: 50%;
}
.col-md-7 {
-webkit-box-flex: 0;
-ms-flex: 0 0 58.333333%;
flex: 0 0 58.333333%;
max-width: 58.333333%;
}
.col-md-8 {
-webkit-box-flex: 0;
-ms-flex: 0 0 66.666667%;
flex: 0 0 66.666667%;
max-width: 66.666667%;
}
.col-md-9 {
-webkit-box-flex: 0;
-ms-flex: 0 0 75%;
flex: 0 0 75%;
max-width: 75%;
}
.col-md-10 {
-webkit-box-flex: 0;
-ms-flex: 0 0 83.333333%;
flex: 0 0 83.333333%;
max-width: 83.333333%;
}
.col-md-11 {
-webkit-box-flex: 0;
-ms-flex: 0 0 91.666667%;
flex: 0 0 91.666667%;
max-width: 91.666667%;
}
.col-md-12 {
-webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
max-width: 100%;
}
}